langchain
openai
qdrant-client
tiktoken
flask
huggingface_hub
pandas
chromadb
transformers
llama-cpp-python==0.1.78
google-search-results
numexpr
playwright
langchain-community
beautifulsoup4
langchain_experimental
arxiv
langchain_openai